<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-brand navbar-nav-lg mr-auto">
            <a style="color: black; text-decoration: none;" href="/">
                <b style="margin-right: 20px">みんなの履修計画</b>
            </a>
        </div>
        <div class="navbar-nav">
            <div class="inline">
                {% if session["logined"] %}
                    <a style="color: #333; text-decoration: none; margin-right: 20px;" href="/user">{{ session["name"] }}さんのユーザページ</a>
                    <a style="color: #333; text-decoration: none; margin-right: 20px;" href="/settings">設定</a>
                    <a style="color: #333; text-decoration: none;" href="/auth/logout">ログアウト</a>
                {% else %}
                    <a style="color: #333; text-decoration: none; margin-right: 20px;" href="/auth/login">ログイン</a>
                    <a style="color: #333; text-decoration: none;" href="/auth/register">ユーザ登録</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
