<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>履修科目追加 | みんなの履修計画</title>
</head>
<body>
    {% include "header.html" %}
    <div class="container-fluid" style="max-width: 1000px; margin-top: 100px;">
        <form action="#"  method="post">
            <h1>履修科目追加</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">科目番号</th>
                        <th scope="col">科目名</th>
                        <th scope="col">単位数</th>
                    </tr>
                </thead>
                <tbody>
                    {% for class in classes %}
                        <tr>
                            <td><input class="form-check-input" type="checkbox" value="{{ class['class_id'] }}" name="checked_classes"></td>
                            <td scope="row">{{ class["class_id"] }}</td>
                            <td>{{ class["name"] }}</td>
                            <td>{{ class["credits"] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if warning_message is defined %}
                <div class="alert alert-warning" role="alert"> {{ warning_message }} </div>
            {% endif %}
            <button type="submit" class="btn btn-primary">追加</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>
