<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>{{ user_info["name"] }}さんのユーザページ | みんなの履修計画</title>
</head>
<body>
    {% include "header.html" %}
    <div class="container-fluid" style="max-width: 65%; margin-top: 50px;">
        {% if user_exists %}
            <h1>{{ user_info["name"] }}さんのユーザページ</h1>
        {% else %}
            <div class="alert alert-warning" role="alert">ユーザが存在しません</div>
        {% endif %}
        <div class="card" style="margin-top: 20px; margin-bottom: 20px;">
            <div class="card-body">
                <h3 class="cart-title">履修中の科目</h3>
                <hr>
                {% if viewing_is_owner %}
                    <form action="#"  method="post">
                        <div class="inline">
                            <a class="btn btn-primary" href="/subject/add">履修科目を追加する</a>
                            <button type="submit" class="btn btn-primary">成績を確定する</button>
                        </div>
                {% endif %}
                    {% if visibility["taking_class_is_public"] or viewing_is_owner %}
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">科目番号</th>
                                    <th scope="col">科目名</th>
                                    <th scope="col">単位数</th>
                                    {% if viewing_is_owner %}
                                        <th scope="col">成績・状態</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for class in taking_classes %}
                                    <tr>
                                        <td scope="row">{{ class["class_id"] }}</td>
                                        <td>{{ class["name"] }}</td>
                                        <td>{{ class["credits"] }}</td>
                                        {% if viewing_is_owner %}
                                            <td>
                                                <select class="form-select" name="{{ class['class_id'] }}">
                                                    <option value="" selected>履修中</option>
                                                    <option value="R">履修取り消し</option>
                                                    <option value="A+">A+</option>
                                                    <option value="A">A</option>
                                                    <option value="B">B</option>
                                                    <option value="C">C</option>
                                                    <option value="D">D</option>
                                                    <option value="P">P</option>
                                                    <option value="F">F</option>
                                                </select>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="alert alert-info" role="alert">非公開設定になっています</div>
                    {% endif %}
                {% if viewing_is_owner %}
                    </form>
                {% endif %}
            </div>
        </div>
        <div class="card" style="margin-top: 20px; margin-bottom: 20px;">
            <div class="card-body">
                <h3 class="cart-title">履修完了した科目</h3>
                <hr>
                {% if visibility["complete_class_is_public"] or viewing_is_owner %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">科目番号</th>
                                <th scope="col">科目名</th>
                                <th scope="col">単位数</th>
                                {% if visibility["grade_is_public"] or viewing_is_owner %}
                                    <th scope="col">成績</th>
                                {% endif %}
                                {% if viewing_is_owner %}
                                    <th scope="col"></th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for class in completed_classes %}
                                <tr>
                                    <td scope="row">{{ class["class_id"] }}</td>
                                    <td>{{ class["name"] }}</td>
                                    <td>{{ class["credits"] }}</td>
                                    {% if visibility["grade_is_public"] or viewing_is_owner %}
                                        <td>{{ class["grade"] }}</td>
                                    {% endif %}
                                    {% if viewing_is_owner %}
                                        <td>
                                            <form action="#"  method="post">
                                                <input type="hidden" name="notice_taking_class" value="{{ class['class_id'] ~ ':' ~ class['name'] }}"/>
                                                <button type="submit" class="btn">みんなに知らせる</button>
                                            </form>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="alert alert-info" role="alert">非公開設定になっています</div>
                {% endif %}
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>
